{% extends theme.liquid %}

{% block contents %}
    <div class="section">
        <div class="container">
            {% include article-content.liquid %}
            {% include aside.liquid %}
        </div>
    </div>
{% endblock %}