{% include blocks-styles.liquid %}

<div id="{{block.id}}" class="content-block content-block-divider {{ class | strip }}">
    <div class="container">
        <div class="block-container {{ container_class | strip }}">
            <hr>
        </div>
    </div>
</div>