<div class="logos align-center"/>
  <div class="social-logos">
    <div>
      <a href="https://www.instagram.com/vajafinland/">
        <img title="Instagram" alt="Instagram" src="https://www.vaja.fi/WebRoot/elisa02/Shops/vaja/MediaGallery/instagram_58.png"/>
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/VAJAFinland">
        <img  title="Facebok" alt="Facebok" src="https://www.vaja.fi/WebRoot/elisa02/Shops/vaja/MediaGallery/FB-f-Logo__blue_58.png"/>
      </a>
    </div>
  </div>
  <div class="brand-logos">
    <div>
      <a href="https://designfromfinland.com">
        <img title="Design from Finland" alt="Design from Finland" src="https://www.vaja.fi/WebRoot/elisa02/Shops/vaja/MediaGallery/logo-design.png"/>
      </a>
    </div>
    <div>
      <a href="https://avainlippu.suomalainentyo.fi">
        <img title="Avainlippu" alt="Avainlippu" src="{{ 'logo-avainlippu.png' | asset_url }}"/>
      </a>
    </div>
  </div>
</div>