<div class="logos align-center"/>
  <div class="social-logos">
    <div>
      <a href="https://www.instagram.com/vajafinland/">
        <img title="Instagram" alt="Instagram" src="{{ 'logo-insta.png' | asset_url }}"/>
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/VAJAFinland">
        <img  title="Facebok" alt="Facebok" src="{{ 'logo-fb.png' | asset_url }}"/>
      </a>
    </div>
  </div>
  <div class="brand-logos">
    <div>
      <a href="https://designfromfinland.com">
        <img title="Design from Finland" alt="Design from Finland" src="{{ 'logo-design.png' | asset_url }}"/>
      </a>
    </div>
    <div>
      <a href="https://avainlippu.suomalainentyo.fi">
        <img title="Avainlippu" alt="Avainlippu" src="{{ 'logo-avainlippu.png' | asset_url }}"/>
      </a>
    </div>
  </div>
</div>